.menu {
  background-color: #0a1e6c;
  text-align: center;
  padding: 10px 0;
}

.menu a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
}

.menu a:hover {
  background-color: #063d99; 
}

